@import url('https://fonts.googleapis.com/css?family=Playgfair+Display');
*{
    padding: 0px;
    margin: 0px; 
}
body{
    font-family: arial;
    background-image: url("../imagens");
    background-repeat: no-repeat;
    background-size: 100%;
}
form{  
  width: 350px;
  margin: 60px auto;
  padding: 25px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.4);
  display: table;
  }
  input{
    display: block;
    width: 90%;
    height: 30px;
    font-size: 11pt;
    color: rgba(0,0,0,.7);
    padding: 5px;
    margin-bottom: 15px;
    outline: none;
  }
  h1{
    font-size: 12pt;
    padding: 10px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
    background-color: rgba(123,104,238,.4);
      }
      input[type=submit]{
        width: 100px;
        height: 40px;
        cursor: pointer ;
        background-color: blue;
        color: white;
        border: none;
        float: right;
        box-shadow: 1px 1px 4px rgba(0,0,0,.4);
  }
  label{
    display: block;
  }
  div#msg-sucesso{
      width: 450px;
      margin: 70px auto; 
      text-align: center; 
    }
div#msg-erro{
      width: 450px;
      margin: 70px auto;
      text-align: center;  
    }
  