*{margin: 0px;
padding: 0px;
    
}
body{
     background-image: url("../imagens/fundo2.jpg");
     /*background-position: 1% 1%;*/
     color: white;
     font-family: arial;
}

input{
    display: block;
    height: 40px;
    width: 300px;
    margin: 10px;
    border-radius: 31px;
    border: 1px solid black;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(255,255,255,0,01);
    color: rgba(255,255,255,0,01);
    outline: none;
    
}
div#formul{
    width:450px ;
    margin: 150px auto 0px auto;
    
    }
    
div#formul-cadast{
    /*background-color: blue;*/
    width:450px ;
    margin: 70px auto 0px auto;
}
div#formul h1{
    text-align: center;
    padding: 20px;
    }
    a{
        color: white;
        text-decoration: none;
        text-align: center;
        display: block;
    }
    a:hover{
       text-decoration: underline; 
    }
    input[type="submit"]{
     background-color: blue;  
     border: none;
     height: 45px;
     width: 150px;
     text-align: center;
     cursor: pointer;
    }
    
div#msg-sucesso{
      width: 450px;
      margin: 70px auto; 
      text-align: center; 
    }
div#msg-erro{
      width: 450px;
      margin: 70px auto;
      text-align: center;  
    }